
<section class="header-modal">
    <div class="status-modal">
        <span class="status status-andamento">Em andamento</span>
        <img src="assets/charm_menu-meatball.svg">
    </div>
</section>
<div class="card-modal">
    <div class="title-modal">
      <h6>Semana fetec agro</h6>
    </div>
    <ul class="info-modal">
      <li>
        <img src="assets/data.svg" alt="">
        <div class="text-modal">
          <p>24/04/2023</p>
          <span>Data</span>
        </div>
      </li>
      <li>
        <img src="assets/time.svg" alt="">
        <div class="text-modal">
          <p>10:30 - 22h00</p>
          <span>Horário</span>
        </div>
      </li>
    </ul>

    <div class="endereco-modal">
      <p>FATEC Pompéia</p>
      <p>Ginásio entrada na porta dos fundos</p>
    </div>
    
  </div>