
  <!-- NavBar com logo e Título-->
  <div id="navbar">
    <div id="logo">
      <img src="../../../assets/images/logo.png">
    </div> 
    <div id="navbar-adm">
      <a routerLink="/empresas"   href="#"><img src="../../../assets/icon/briefcase.svg">
      <p>Empresas</p></a>   
      <a href="#"><img src="../../../assets/icon/home.svg">
      <p>Home</p></a>      
      <a href="#"><img src="../../../assets/icon/user.svg">
      <p>Convidados</p></a>
      <a href="#"><img src="../../../assets/icon/settings.svg">
      <p>Usuário</p></a>
      <a href="#"><img src="../../../assets/icon/log-out.svg">
      <p>Sair</p></a>
    </div>

  </div>
