.container-eventos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 41px;
  gap: 10px;
  #input-cad-eventos {
    width: 453.5px;
    border: 1px solid grey;
  }
  .align-input-eventos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    max-width: 500px;
    .input-icon {
      #select {
        width: 244px;
        height: 46px;
      }
      #select:focus{
        outline: none;
      }
    }
    .input-file {
      display: none;
    }

    label {
      position: relative;
      width: 498px;
      height: 46px;
      border-radius: 5px;
      border: 1px solid grey;
      margin: auto 0;
      padding-left: 45px;
      line-height: 49px;
      color: grey;
      font-size: 0.8rem;
      font-family:  sans-serif;
    }
    .icon-file {
      position: absolute;
      left: 15px;
      top: 17px;
    }

    #arquivo{
      display: none;
    }

    .lugar-input {
      width: 457px;
      font-family: sans-serif;
      font-size: 0.8rem;
    }

    #descricao:focus {
      outline: none;
    }

    textarea {
      line-height: 45px;
      padding-left: 40px;
      height: 80px;
      border-radius: 5px;
    }

    #descricao::placeholder{
      font-size: 0.8rem;
      font-family: sans-serif;
    }
    span {
      color: black;
      font-size: 0.8rem;
    }

    .inputs-img{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 0 auto;
      label {
        cursor: pointer;
        position: relative;
        width: 70px;
        height: 120px;
        background: #D9D9D9;
        border: none;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      input {
        display: none;
      }

    }
    .align-btn-cad-eventos1{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 20px 5px;
      button {
        border: none;
        width: 150px;
        border-radius: 5px;
      }
    }
  }
}



