    // NAVBAR ADM LOGO-TITULO-BOTAO

    #navbar{
        width: 1500px;
        margin: 0 auto;
        min-width: 1300px;
      }  
      #logo {
        width: 70%;
        display: inline-block;
      }
      #logo img{
        width: 60px;
        height: 60px;
      }
      
      #navbar-user{
        width: 30%;
        display: inline-block;
        position: relative;
        bottom: 15px;
      }
      
      #navbar-user img {
        width: 40px;
        height: 22px;
      }
      
      #navbar-user p{
        display: inline;
        position: relative;
        bottom: 5px;
        padding-right: 20px;
      }
      
      #navbar-user a {
        text-decoration: none;
        color: black;
      }