<header>
  <div class="container">
    <div class="imgHome">
      <img src="./../../assets/logo.png" alt="logo-fnst">
      <h1>Calendário</h1>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/"><img src="assets/home.svg">Home</a></li>
        <li><a routerLink="/tabela-adm"><img src="assets/usuario.svg">Usuários</a></li>
        <li><a routerLink="/"><img src="assets/historico.svg">Histórico alteração</a></li>
        <li><a routerLink="/calendario"><img src="assets/calendario.svg">Calendário</a></li>
        <li><a routerLink="/login"><img src="assets/sair.svg">Sair</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class="container">
    <section>
      <button></button>
      <h5>Janeiro</h5>
      <button></button>
    </section>
  </div>
</main>