@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

@import "reset.scss";

@import "button.scss";
@import "modal.scss";
@import "navbar-adm.scss";
@import "top-lista.scss";

* {
  // letter-spacing: 0.8px;

  font-family: "Open Sans", sans-serif;
}

//modal
ion-modal {
  &.modal {
    --height: auto;
    --border-radius: 8px;
  }
}
