  <!-- NavBar com logo e Título-->
  <div id="navbar">
    <div id="logo">
      <img src="../../../assets/images/logo.png">
    </div> 
    <div id="navbar-adm">
      <a routerLink='/eventos' ><img src="../../../assets/icon/home.svg">
        <p routerLink='/eventos' > Home</p></a>  
       <a routerLink='/empresas'   ><img src="../../../assets/icon/briefcase.svg"> 
       <p routerLink='/empresas' >Empresas</p></a>    
       
      <a routerLink='/convidados'><img src="../../../assets/icon/user.svg">
      <p routerLink='/convidados'>Convidados</p></a>
      <a routerLink='/home/listausuario'><img src="../../../assets/icon/settings.svg">
      <p routerLink='/home/listausuario'>Usuário</p></a>
      <a routerLink='/'  (click)="logout()"><img src="../../../assets/icon/log-out.svg">
      <p routerLink='/' (click)="logout()" >Sair</p></a>
    </div>

  </div>

<div id="conteudo">
  <h1>Empresas</h1>
  <button (click)="add()" class="btn btn-primary"><img src="../../../assets/icon/plus-circle.svg">Empresa</button>
</div>


  <table *ngIf="listaEmpresa.length>0 , else semEmpresa">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Editar</th>
        <th>Excluir</th>
        </tr>
    </thead>
    <tbody >
    <tr *ngFor="let empresa of listaEmpresa">
      <td> {{empresa.empresa}}</td>
 
      <td><img (click)="edit(empresa.empresa,empresa.empresa)" src="../../../assets/icon/icon _edit 2_.svg"></td>
      <td><img (click)="delet(empresa.empresa)" src="../../../assets/icon/icon _trash 2_.svg"></td>
    </tr>
  </tbody>

    <div >

 
    </div>
  </table>





<ng-template #semEmpresa>
  <p>Ainda nao ha usuarios cadastrados</p>
</ng-template>
